RewriteEngine On
RewriteBase /

# 1. Usuń slasha na końcu, jeśli ktoś go wpisze (Redirect 301)
# Ale nie rób tego dla WordPressa (/blog/) ani fizycznych folderów
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/(.+)/$
RewriteRule ^(.+)/$ /$1 [R=301,L]

# 2. Ignoruj WordPressa (nie ruszamy niczego w /blog)
RewriteCond %{REQUEST_URI} ^/blog [NC]
RewriteRule . - [L]

# 3. Obsługa plików .html bez rozszerzenia (Clean URLs)
# Jeśli wpiszesz /o-nas, serwer sprawdzi czy istnieje o-nas.html i go wyświetli
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([^/]+)$ $1.html [L]

# 4. Jeśli plik nie istnieje (np. podstrony typu /o-nas/zespol), skieruj na Astro
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# --- Przekierowania na konkretne podstrony ---
Redirect 301 /opieka-nad-stronami-www /monitoring-wydajnosci
Redirect 301 /monitoring-pozycji /monitoring-wydajnosci
Redirect 301 /konsultacje-seo /techniczne-seo
Redirect 301 /audyty-seo /techniczne-seo
Redirect 301 /seo-copywriting /content-seo

# --- Przekierowania na stronę główną ---
Redirect 301 /reklama-ppc /
Redirect 301 /pozycjonowanie-lokalne /
Redirect 301 /pozycjonowanie-stron-www /
Redirect 301 /pozycjonowanie-z-rabatem /
Redirect 301 /projektowanie-stron-i-serwisow-www /
Redirect 301 /wydanie-kodow-authinfo /
Redirect 301 /hosting-serwery-wirtualne-ssd-bez-limitu-transferu-danych /
Redirect 301 /google-moja-firma /
Redirect 301 /optymalizacja-stron-www /
Redirect 301 /certyfikaty-ssl /
Redirect 301 /domeny-internetowe /
Redirect 301 /pozycjonowanie-zagraniczne /
Redirect 301 /cesja-domeny /
Redirect 301 /cesja-domeny/ /
Redirect 301 /zmiana-danych-abonenta /
Redirect 301 /pozycjonowanie-sklepow-internetowych /